<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imp.lf.dao.LFMessageMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id,is_delete AS isDelete  ,type,  create_time AS createTime,title,latitude,longitude,kind,detail,
		thing_time AS thingTime,phone_number AS phoneNumber,share_count AS shareCount,
		comments_count AS commentsCount,attention_count AS attentionCount,user_id AS user.id
	</sql>

    <resultMap id="LFMessageList" type="com.imp.lf.entities.LFMessage">
        <id column="id" property="id"/>
        <result column="is_delete" property="isDelete"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="title" property="title"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="kind" property="kind"/>
        <result column="detail" property="detail"/>
        <result column="thing_time" property="thingTime"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="share_count" property="shareCount"/>
        <result column="comments_count" property="commentsCount"/>
        <result column="attention_count" property="attentionCount"/>

        <association property="user" javaType="com.imp.lf.entities.User">
            <id column="u_id" property="id"/>
            <result column="name" property="name"/>
            <result column="portrait" property="portrait"/>
            <result column="u_phone_number" property="phoneNumber"/>
            <result column="location" property="location"/>
            <result column="u_create_time" property="createTime"/>
            <result column="password" property="password"/>
            <result column="token" property="token"/>
        </association>

        <collection property="imageUrls" ofType="java.lang.String">
            <!--<id column="i_id" property="id"/>-->
            <result column="image_url" property="imageUrl"/>
        </collection>

        <collection property="wordsList" ofType="com.imp.lf.entities.Words">
            <id column="w_id" property="id"/>
            <result column="w_is_delete" property="isDelete"/>
            <result column="w_type" property="type"/>
            <result column="from_user_id" property="fromUserId"/>
            <result column="to_user_id" property="toUserId"/>
            <result column="w_create_time" property="createTime"/>
            <result column="w_detail" property="detail"/>
            <result column="data_id" property="dataId"/>
        </collection>
    </resultMap>


    <insert id="insertMessage" parameterType="com.imp.lf.entities.LFMessage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_message (
        is_delete,
        type,
        create_time,
        title,
        latitude,
        longitude,
        kind,
        detail,
        thing_time,
        phone_number,
        share_count,
        comments_count,
        attention_count,
        user_id
        ) VALUES (
        #{isDelete},
        #{type},
        #{createTime},
        #{title},
        #{latitude},
        #{longitude},
        #{kind},
        #{detail},
        #{thingTime},
        #{phoneNumber},
        #{shareCount},
        #{commentsCount},
        #{attentionCount},
        #{user.id}
        )
	</insert>

    <select id="findLFMessageList" resultMap="LFMessageList">
        SELECT
        m.*,
        u.id as u_id,
        u.name,
        u.portrait,
        u.phone_number as u_phone_number,
        u.location,
        u.create_time as u_create_time,
        u.password,
        u.token,
        i.image_url,
        w.id as w_id,
        w.is_delete as w_is_delete,
        w.type as w_type,
        w.from_user_id,
        w.to_user_id,
        w.create_time as w_create_time,
        w.detail as w_detail,
        w.data_id
        FROM t_message m
        INNER JOIN t_user u ON (
        m.user_id=u.id
        <if test="id!=null">
            and u.id=#{id}
        </if>
        <if test="location!=null">
            and u.location=#{location}
        </if>
        )
        LEFT JOIN t_image i ON (i.type="LF" and i.data_id=m.id)
        LEFT JOIN t_words w ON (w.type="LF" and w.data_id=m.id and w.is_delete=0)
        WHERE
        m.is_delete=0
        <if test="type!=null">
            and m.type=#{type}
        </if>
        <if test="kind!=null">
            and m.kind=#{kind}
        </if>
        order by m.create_time DESC
        limit #{currentPage},#{size}
    </select>


    <update id="deleteLFMessageById" parameterType="java.lang.Long">
        UPDATE t_message m SET m.is_delete=1 WHERE m.id=#{id}
    </update>

    <update id="addLFMessageShareCount" parameterType="java.lang.Long">
        update t_message m set  m.share_count=m.share_count+1  where m.id=#{id};
    </update>


    <update id="addLFMessageCommentsCount" parameterType="java.lang.Long">
        update t_message m set  m.comments_count=m.comments_count+1  where m.id=#{id};
    </update>
    <update id="minusLFMessageCommentsCount" parameterType="java.lang.Long">
        update t_message m set  m.comments_count=m.comments_count-1  where m.id=#{id};
    </update>


    <update id="addLFMessageAttentionCount" parameterType="java.lang.Long">
    update t_message m set  m.attention_count=m.attention_count+1  where m.id=#{id};
</update>

</mapper>